:root{
    --accent: #174180;
    --accent-light:#3764f7;
    --pure-white: white;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--accent);
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.section{
    padding: 60px;
}
.header {
    background-color: var(--accent);
}
 .header a {
    color: var(--pure-white);
    text-decoration: none;
}
.header-menu-item{
    list-style-type: none;
}
.header-nav {
    min-height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-logo {
    display: inline-block;
    width: 20%;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    letter-spacing: 3px;
}
.header-logo-img {
    width: 100%;
    height: 60px;
    object-fit: contain;
}
.header-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


.header-menu-link {
    font-size: 15px;
    line-height: 15px;
    padding: 15px 15px;
    text-transform: uppercase;
    transition: background-color 0.4s;
}
.header-menu-link:hover {
    background-color: var(--accent-light);
}
.container2 {
    margin: 50px auto;
}
.main {
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.photo {
    justify-content: flex-start;
    align-self: flex-start;
}
.info {
    padding-left: 40px;
    justify-content: center;
    align-self: center;
}
h3 {
    text-align: center;
}

.contacts {
    margin-bottom: 60px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
.information {
    display: inline-block;
    padding: 0 40px;
}
.section-title{
    padding-bottom: 20px;
    text-align: center;
}

.skills{
    color: var(--pure-white);
    background-color: var(--accent);
}
.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.skills li {
    background-color: var(--accent-light);
    padding: 10px 30px;
    border-radius: 4px;

}
.code-example{
    text-align: center;
}
.code-example p{
    font-style: italic;
}
.code-example b{
    font-style: normal;
}
.code-example pre{
    width: 55%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
    color: var(--pure-white);
    background-color: var(--accent);
    border-radius: 8px;
}
.container2{
     text-align: center;
}
.education{
    width:50% ;
    margin: 0 auto;
    text-align: center;
    color: var(--pure-white);
    background-color: var(--accent);
    border-radius: 7px;
}
.lu{
    padding:  20px 0;
    text-align: center;
}
.container3{
    text-align: center;
}
.table{
    padding: 0px 150px ;
    text-align: center;
}
.languages{
    margin:0 335px;
    text-align: center;
    color: var(--pure-white);
    background-color: var(--accent);
    border-radius: 7px;
}
ul {
    list-style: none;
}
.ll{
    padding: 20px 255px;
    text-align: center;
}
footer {
    text-align: center;
    margin: 50px auto;
}